.AHomeList{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.MuiGrid-container{
    margin-left: auto;
    margin-right: auto;
}
.MuiGrid-item{
    margin-left: auto;
    margin-right: auto;
}
.movie {
    padding:20px;
    overflow-y: auto;
}
.innerMovie{
    height: 350px;
    padding:10px;
    word-wrap: break-word;
    width: 200px;
}
.searchBar{
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    width: auto;
}