.container{
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
}
.AHomeList{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.movie {
    padding: 20px;
    display: inline-block;
}

.innerMovie{
    height: 370px;
    padding:10px;
    word-wrap: break-word;
    width: 200px;
}
img{
    outline: black 1px;
}
.searchBar{
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    width: auto;
}