.navBar{
    width: 100%;
  }
  .MuiToolbar-root{
  background-color: black;
  width:100%;
  }
  .navBar   ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }
  
  .navBar  li {
    padding-left: 10px;
   display: inline-block;
  }
 .link {
    width:20%;
  }
  
  .navBar ol li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
   padding-top: 20px ;
   padding-bottom: 16px;
  }
  
  /* Change the link color to #111 (black) on hover */
  .navBar ol li a:hover {
    background-color: rgb(11, 10, 77);
  }
  .navBar {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(179, 0, 0);
    background-color: black;
  }
  .navBar button{
    float:left; 
  }